{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "proseWrap": "preserve",
    "requirePragma": false,
    "insertPragma": false,
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 100
            }
        }
    ],
    "filepath": "/Users/john.arocha/Multiverse/front-end/pokemon/Pokemon/.prettierrc"
}
