@keyframes wiggle {
    0%, 9%, 100% {
        transform: rotate(0deg);
    }
    10%, 20%, 30% {
        transform: rotate(-1.7deg);
    }
    15%, 25%, 35% {
        transform: rotate(1.7deg);
    }
    49%, 70%, 80%, 90% {
        transform: rotate(0deg);
    }
}

.poke-card {
    transition: transform 0.3s ease;
    margin-bottom: 5vh;
}

.poke-card-shake {
    transition: transform 0.03s ease;
    margin-bottom: 5vh;
    animation: wiggle 1.7s ease infinite;
    animation-delay: var(--animation-delay, 0s); /* Use CSS variable for animation delay */
}

.poke-card:hover {
    transform: scale(1.05);
}

 .card-container {
    width: 90%;
    max-width: 250px;
    aspect-ratio: 250 / 390;
    margin: 0 auto;
    position: relative;
}

.x-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: black !important;
    color: grey;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.x-button:hover {
    opacity: 0.5;
}
