.poke-card {
    transition: transform 0.3s ease;
}

.poke-card:hover {
    transform: scale(1.05);
}

.card-container {
    width: 250px; /* Set your desired width */
    margin: 0 auto; /* Center the card */
}